body {
  margin: 0;
}

.App {
  margin: 10% 30%;
  width: 40%;
  max-height: 80%;
  border: 1px solid black;
  background-color: lightgrey;
  display: absolute;
}

.Header {

}


.Screen {
  overflow-x: auto;
  overflow-y: hidden;
  height: 100px;
  max-height: 500px;
  display: block;
}
.Numpad {

}

.numpad-button {
  width: 23%;
  height: 50px;
  margin-bottom: 10px;
}
.numpad-button:hover {
  color: red;
  background-color: black;
}


#cal-symbol {
  -webkit-animation: alternate-reverse;
}

